{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% block header %}
        <header>
            <h1>Welcome</h1>
        </header>
    {% endblock %}
    <section>
        <p>Controller : {{ controller|raw }}</p>
    </section>
{% endblock %}